@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
	font-family: 'Raleway';
  font-weight: bold;
  font-size: 35px;
}

h2, h4, h5{
	font-family: 'Raleway';
  color:#616161;
  font-size: 30px;
}

h3 {
  font-family: 'Raleway';
  color:#ffffff;
  font-size: 36px;
}

h4 {
  font-family: 'Raleway';
  color:#616161;
  font-size: 24px;
}

h6 {
  font-family: 'Raleway';
  color:#ffffff;
  font-size: 36px;
}

body{
  font-family: 'Raleway';
}

.bold {
  font-weight: bold;
}

a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.page-section{
  background-color: rgba(245, 245, 245, 0.45);
  padding: 0px;
}

.wrapper{
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .col-md-10 {
      width: 100%;
  }

  .col-md-6 {
      width: 100%
  }

  .wrapper{
    max-width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .col-lg-6 {
      width: 100%;
  }

  .wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 10px;
  }
}

@media (min-width: 1200px) {
  .col-lg-8 {
      width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-lg-offset-2 {
      margin-left: 0px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}


/*** Nav Bar Styling ***/

.navbar li, a {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #333333;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 3.5%;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  width: 175px;
  padding-bottom: 50px;
}

.navbar_links {
  list-style: none;
}

.navbar_links li {
  display: inline-block;
  padding: 0px 20px;
}

.navbar_links li a {
  transition: all 0.3s ease 0s;
}

.navbar_links li a:hover {
  color: #607D8B;
}

/*** Home Page Banner Style ***/

.home-banner-container {
  width: 100%;
  position: relative;
  margin: -55px 0;
}

/* Hide the images by default */
.home-slides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}*/

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 50px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*** Initial Tagline Homepage ***/
.homePageTag {
  margin-left: 100px;
  height: 150px;
}

.homePageTag p {
  font-family: 'Raleway';
  color:#616161;
  font-size: 30px;
}

/*** Homepage Current Work***/
.ourCurrentWork {
  margin-top: -75px;
  background-color: #F9F9F9;
  padding: 50px 100px;
  height: 500px;
}

.ourCurrentWork img {
  width: 400px;
}

.currentWorkImg {
  width: 50%;
  float:left;
}

.currentWorkText {
  width: 50%;
  float:right;
}

/***----------------------------------------PAST PROJECTS & ACHIEVEMENTS----------------------------------------***/
.circle {
	width: 50px;
	height: 50px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background: red;
}

.pastProjects {
  padding: 50px 100px;

}

/***----------------------------------------ACCORDION----------------------------------------***/
/*Source: http://www.cssscript.com/demo/pure-css-responsive-horizontal-accordion/ */

.accordion {
		width: 100%;
		max-width: 1080px;
		height: 350px;
		overflow: hidden;
		margin: 50px auto;
		padding-top:10px;
		padding-bottom:10px;
	}

	.accordion > ul {
		width: 100%;
		display: table;
		table-layout: fixed;
		margin: 0;
		padding: 0;
	}

	.accordion > ul > li {
		display: table-cell;
		vertical-align: bottom;
		position: relative;
		width: 16.666%;
		height: 350px;
		background-repeat: no-repeat;
		background-position: center center;
		transition: all 500ms ease;
	}

	.accordion > ul > li > div {
		display: block;
		overflow: hidden;
		width: 100%;
	}

	.accordion > ul > li > div > a {
		display: block;
		height: 350px;
		width: 100%;
		position: relative;
		z-index: 3;
		vertical-align: bottom;
		padding: 15px 20px;
		box-sizing: border-box;
		color: #fff;
		text-decoration: none;
		font-family: proximanova-light;
		transition: all 200ms ease;
	}

	.accordion > ul > li > div > a > * {
		opacity: 0;
		margin: 0;
		width: 100%;
		text-overflow: ellipsis;
		position: relative;
		z-index: 5;
		/*white-space: nowrap;*/
		overflow: hidden;
		-webkit-transform: translateX(-20px);
		transform: translateX(-20px);
		-webkit-transition: all 400ms ease;
		transition: all 400ms ease;
	}

	.accordion > ul > li > div > a > h6 {
		text-overflow: clip;
		text-transform: uppercase;
		margin-bottom: 2px;
		top: 74px;
	}

	.accordion > ul > li > div > a > p {
		top: 90px;
		font-size: 16px;
    	font-family: proximanova-regular;
	}

	.accordion > ul > li > div > a > ul {
		top: 110px;
		font-size: 16px;
    	font-family: proximanova-regular;
	}

	.accordion > ul > li > div > a > b {
		top: 100px;
		font-size: 19px;
    	font-family: proximanova-bold;
	}

/*	.accordion ul li:nth-child(5) { background-image: url("resources/placeholders/dog.jpg"); }

	.accordion ul li:nth-child(6) { background-image: url("resources/placeholders/dog.jpg"); }
*/


	@media screen and (min-width: 950px) {

		.accordion > ul:hover > li { width: 8%; }

		.accordion > ul:hover > li:hover { width: 60%; }

		.accordion > ul:hover > li:hover a { background: rgba(0, 0, 0, 0.4); }

		.accordion > ul:hover > li:hover a * {
			opacity: 1;
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}
	}

	@media screen and (max-width: 949px) {

		body { margin: 0; }

		.accordion {
			height: auto;
			margin: 0 auto;
		}

		.accordion > ul > li {
			position: relative;
			display: table;
			table-layout: fixed;
			margin: 0 auto;
			width: 100%;
			height: 350px;
			background-size: cover;
    		background-repeat: no-repeat;
    		background-position: center;
			-webkit-transition: none;
			transition: none;
		}

		.accordion > ul > li > div > a {
			background: rgba(0, 0, 0, 0.4);
			margin: 0 auto;
			width: 100%
		}

		.accordion > ul> li > div > a > * {
			opacity: 1;
			-webkit-transform: translateX(0);
			transform: translateX(0);

		}

		.accordion > ul > li > div > a > h6 {
			top: 84px;
		}

		.accordion > ul > li > div > a > p {
			top: 100px;
		}

		.accordion > ul > li > div > a > ul {
			top: 120px;
		}

		.accordion > ul > li > div > a > b {
			top: 110px;
		}
	}

	@media screen and (max-width: 550px) {
		.accordion > ul > li > div > a > h6 {
			top: 34px;
			font-size: 28px;
		}

		.accordion > ul > li > div > a > p {
			top: 50px;
			font-size: 14px;
		}

		.accordion > ul > li > div > a > ul {
			top: 70px;
			font-size: 14px;
		}

		.accordion > ul > li > div > a > b {
			top: 60px;
			font-size: 17px;
		}
	}

	/* iPhone 5 */
	@media screen and (max-width: 350px) {
		.accordion > ul > li > div > a > h6 {
			top: 19px;
			font-size: 28px;
		}

		.accordion > ul > li > div > a > p {
			top: 35px;
			font-size: 13px;
		}

		.accordion > ul > li > div > a > ul {
			top: 55px;
			font-size: 13px;
		}

		.accordion > ul > li > div > a > b {
			top: 45px;
			font-size: 16px;
		}
	}

/* Donate Section */

.donateSection {
  background-color: #F9F9F9;
  padding: 50px 100px;
  height: 250px;
}

.button {
  background-color: #C7D0D4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


/***----------------------------------------SPONSORS----------------------------------------***/
/*
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
/*    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
/*    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
/*    float: right;        /* adjust as needed */
/*    color: grey;         /* adjust as needed */
/*}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
  /*  content: "\e080";    /* adjust as needed, taken from bootstrap.css */
/*} */

.sponsors {
  padding: 50px 100px;
}

.panel{
    border:none;
    padding:0;
    border-radius: 0px;
}

.panel-group .panel {
    margin-bottom: 0px;
    border-radius: 0px;
    box-shadow: none;
    border-bottom: thin solid #f5f5f5;
}

.panel-heading{
    border:1px solid #fff;
    padding:10px;
    margin:0;
    border-radius: 0px;
}
.panel-body{
    border:1px solid #fff;
    padding:10px;
    border-top:0;
    border-radius: 0px;
}

.col-md-3, col-lg-3, col-sm-3, col-xs-3 {
    min-width: 160px;
    padding: 15px;
    margin: 0 auto;
}

/**Galaxy S5**/
@media (max-width: 360px) {
	.col-md-3, col-lg-3, col-sm-3, col-xs-3 {
		min-width: 150px;
	}
}

/**iPhone 5**/
@media (max-width: 320px) {
	.col-md-3, col-lg-3, col-sm-3, col-xs-3 {
		min-width: 132px;
	}
}

.panel-group {
    transform: translate3d(0,0,0);
}

.arrow {
    transform: translateZ(0) rotate(0deg);
    -webkit-transform: translateZ(0) rotate(0deg);
    transition: transform 500ms ease;
    -webkit-transition: transform 500ms ease;
}

.arrow.open {
    transform: translateZ(0) rotate(-180deg);
    -webkit-transform: translateZ(0) rotate(-180deg);
    transition: transform 500ms ease;
    -webkit-transition: transform 500ms ease;
}



/***----------------------------------------FOOTER----------------------------------------***/
.footer {
	height: 200px;
  background-color: #C7D0D4;
	padding-top: 50px;
  margin-top: 150px;
}

.footer div{
	text-align: center;
}

.contact-us{
	margin-left: -30px;
	padding: 0;
	margin: auto;
	color: #333333;
	font: "Raleway";
}

.contact-us li{
	display: inline-block;
	vertical-align: center;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.contact-us li a{
	color: inherit;
	font: inherit;
}

.contact-us li h3{
	margin-right: 30px;
}

.contact-us li img{
	height: 18px;
	display: inline;
	margin-top: -5px;
	margin-right: 10px;
}

.credit{
	margin: 0 auto;
	margin-top: 40px;
  margin-bottom: 15px;
	font: "Raleway";
	color: #333333;
}

@media (max-width: 550px) {
	.footer {
		padding-top: 300px;
	}

	.credit{
		padding: 10px;
	}
}
